.keyword {
    -fx-fill: #ECEFF1;
    -fx-font-weight: bold;
}

.attribute {
	-fx-fill: #4DD0E1;
    -fx-font-weight: bold;
}

.wrongText{
	 
}

.color{
	-fx-fill: #FBC02D;
	-fx-font-weight: bold;
}

.var{
	-fx-fill: #FBC02D;
	-fx-font-weight: bold;
}

.value{
	-fx-fill: #FBC02D;
	-fx-font-weight: bold;
}

.semicolon {
	-fx-fill: #ECEFF1;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #F06292;
}

.number {
	-fx-fill: #FBC02D;
	-fx-font-weight: bold;
}

.comment {
	-fx-fill: #d0d0d0;
}

#editorContainer{
	-fx-background-color: #212121;
}

.paragraph-box:has-caret {
    -fx-background-color: #616161;
}