.keyword {
    -fx-fill: #9C27B0;
    -fx-font-weight: bold;
}

.attribute {
	-fx-fill: #9AB8EF;
    -fx-font-weight: bold;
}

.wrongText{
	 
}

.color{
	-fx-fill: #D81B60;
	-fx-font-weight: bold;
}

.var{
	-fx-fill: #D81B60;
	-fx-font-weight: bold;
}

.value{
	-fx-fill: #D81B60;
	-fx-font-weight: bold;
}

.semicolon {
	-fx-fill: #37474F;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #C53929;
}

.number {
	-fx-fill: #D81B60;
	-fx-font-weight: bold;
}

.comment {
	-fx-fill: #b5b5b5;
}

#editorContainer{
	-fx-background-color: #FFFFFF;
}

.paragraph-box:has-caret {
    -fx-background-color: #ECEFF1;
}